name: CI

on:
  push:
  pull_request:

jobs:
  testsuite:
    name: all tests
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          coverage: none
          tools: composer:v2
      - name: "Composer Install"
        run: "composer install"
      - name: "Run Static Code Analysis"
        run: "composer ci:static"
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.1', '8.2', '8.3' ]
